<% layout('layouts/boilerplate.ejs') %>
<!-- This line will inject the hmtl code into boilerplate.ejs -->
<div class="row">
  <h1 class="text-center">Edit Pitch</h1>
  <div class="col-6 offset-3">
    <form
      action="/pitches/<%= pitch.id %>?_method=PUT"
      method="POST"
      novalidate
      class="bs-validate"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          name="pitch[title]"
          id="title"
          value="<%= pitch.title %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input
          required
          min="0"
          class="form-control"
          type="number"
          name="pitch[price]"
          id="price"
          value="<%= pitch.price %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          name="pitch[location]"
          id="location"
          value="<%= pitch.location %>"
        />
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label"
          >Add more images:</label
        >
        <input
          class="form-control"
          name="image"
          type="file"
          id="formFileMultiple"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          name="pitch[description]"
          id="description"
        >
<%= pitch.description %></textarea
        >
      </div>
      <div class="mb-3">
        <% pitch.images.forEach((image, index) => { %>
        <div class="col-6">
          <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="" />
          <div class="form-check-inline">
            <input
              type="checkbox"
              id="image-<%= index %>"
              name="deleteImages[]"
              value="<%= image.filename %>"
            />
            <label for="image-<%= index %>">Delete ?</label>
          </div>
        </div>
        <% }) %>
      </div>
      <button class="btn btn-success mb-3">Save</button>
      <a class="btn btn-danger mb-3" href="/pitches">Back to pitches</a>
    </form>
  </div>
</div>
