<% layout('layouts/boilerplate.ejs') %>
<div id="map" crossorigin="anonymous"></div>
<% for(pitch of pitches){ %>
<link rel="stylesheet" href="/css/index.css" />
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="index-thumbnail">
        <img
          src="<%= pitch.images[0].url %>"
          alt="pitch-image"
          crossorigin="anonymous"
        />
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= pitch.title %></h5>
        <p class="card-text"><%= pitch.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= pitch.location %></small>
        </p>
        <a href="/pitches/<%= pitch.id %>" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>';
  const pitches = {features: <%- JSON.stringify(pitches) %>};
</script>
<script src="/js/index.js"></script>
