<% layout('layouts/boilerplate.ejs') %>
<!-- This line will inject the hmtl code into boilerplate.ejs -->
<% if(success.length) {%>
<div class="alert alert-success text-center h2" role="alert">
  <%= success %>
</div>
<% } %> <% if(danger.length) {%>
<div class="alert alert-danger text-center h2" role="alert"><%= danger %></div>
<% } %>
<ul>
  <% for(pitch of pitches){ %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="<%= pitch.image %>" alt="pitch-image" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= pitch.title %></h5>
          <p class="card-text"><%= pitch.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= pitch.location %></small>
          </p>
          <a href="/pitches/<%= pitch.id %>" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>
