<% layout('layouts/boilerplate.ejs') %>
<!-- This line will inject the hmtl code into boilerplate.ejs -->
<h1><%= pitch.title %></h1>
<ul>
  <li><%= pitch.price %></li>
  <li><%= pitch.description %></li>
  <li><%= pitch.location %></li>
  <li><img src="<%= pitch.image %>" alt="pitch-image" /></li>
</ul>
<a href="/pitches">Home</a>
<a href="/pitches/<%= pitch.id %>/edit">Edit</a>
<form action="/pitches/<%= pitch.id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
